html {   
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    max-width: 700px;
    min-width: 550px;
    margin: auto;
}
body {  
    margin: 0 auto;  
    display: flex; 
    flex-direction: column;  
    padding: 22px;
    background-color: rgb(198, 209, 209);     
}
.header {
    display: flex;
    flex-direction: row;
    
    background-color: rgb(36, 56, 41);
}
.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #dae6d9;       
}
.footer {
    padding: 10px 0;
    background-color: #dae6d9;
    display: flex;
    flex-direction: row;
}
.left-column {    
   width: 200px;
   background-color: rgb(86, 97, 76);   
}
.right-column {    
    flex: 1;        
}
.text-center {
    text-align: center;    
}
.padding-left {
    padding-left: 10px;
}
.padding-left-dbl {
    padding-left: 20px;
}
.personal-name {
    margin: 40px;
    color: #dae6d9;
}
.white-color {
    color: #ffffff;
}
a {
    color: #ffffff;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
.right-column-name {
    padding-left: 110px;
}
.about-me {
    padding: 0px 20px 0px 20px;
}
.code-example {
    padding: 5px;
    background-color:rgb(86, 97, 76);
    color: #ffffff;
    margin: 0px 20px 10px 20px;
    border-radius: 10px;
}
.list-pad-bottom-tiny > li {
    padding-bottom: 5px;
}
.padding-right {
    padding-right: 7px;
}
.logo-footer {
    height: 40px;
}
.icon-github {
    height: 40px;
}
.footer-item {
    flex: 1;
}